
<h2>Products</h2>
@if (ViewBag.products.Count > 0)
{
<table>
    <tr>
        <th>Id</th>
        <th>Price</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    @foreach (var product in ViewBag.products)
    {
    <tr>
        <th>@product.Id</th>
        <th>@product.Price</th>
        <th>@product.Title</th>
        <th>@product.Description</th>
    </tr>
    }
</table>    
}
